.jibres {

}
.bt {
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 1px solid #0071a1;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #0071a1;
	background: #f3f5f6;
	cursor: pointer;
}
.bt:hover {
	background: #f1f1f1;
	border-color: #016087;
	color: #016087;
}

.jbt {
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 1px solid #e00b65;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #f3f5f6;
	background: #e00b65;
	cursor: pointer;
}
.jbt:hover {
	background: #af094f;
	border-color: #af094f;
	color: #f1f1f1;
}

.dbt {
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 1px solid #e00b65;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #e00b65;
	background: #f3f5f6;
	cursor: pointer;
}
.dbt:hover {
	background: #f1f1f1;
	border-color: #af094f;
	color: #af094f;
}

#adminmenu .wp-menu-image img {
	padding: 0 !important;
}

.infos {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	max-width: 30%;
	padding: 2em;
	/*box-shadow: 0em 0em 2em #ddd;*/
}
