.jibres {

}
.bt {
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 1px solid #0071a1;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #0071a1;
	background: #f3f5f6;
	cursor: pointer;
}
.bt:hover {
	background: #f1f1f1;
	border-color: #016087;
	color: #016087;
}
#adminmenu .wp-menu-image img {
	padding: 0 !important;
}

.infos {
	border: 1px solid #ddd;
	border-radius: 12px;
	max-width: 30%;
	padding: 2em;
	box-shadow: 0em 0em 2em #ddd;
}
